{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div id="loginContainer" class="col-sm-12">

                <div class="text-center">
                    <img id="logoImg" src="{{ asset('img/psa_logo_blue.svg') }}" class="img-fluid"
                         alt="Responsive image">
                </div>
                {{ form_start(form) }}
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="material-icons">person</i></span>

                        </div>
                        {{ form_widget(form._username, {
                            'attr': {
                                'id': 'uidInput',
                                'class' : 'form-control',
                                'style': 'text-transform: uppercase;',
                                'aria-describedby': 'basic-addon1',
                                'autocomplete': 'new-password'
                            }
                        }) }}
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon2"><i class="material-icons">lock</i></span>
                        </div>
                        {{ form_widget(form._password, {
                            'attr': {
                                'id': 'pwdInput',
                                'class' : 'form-control',
                                'aria-describedby': 'basic-addon2',
                                'autocomplete': 'new-password'
                            }
                        }) }}
                    </div>
                </div>
                <div id="loginBtnDiv" class="text-center">
                    <button id="loginBtn" class="btn btn-outline-primary btn-block">Login</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
